java_invoke/src/main/mule/java_invoke.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="870db64c-9061-449c-9374-a9d8a091a558" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="static" doc:id="c0bcad4e-b61b-45c8-9748-4e1dbe89e56a">
		<http:listener doc:name="Listener" doc:id="964e864f-a784-4d76-beb7-4952a3e5eca4" config-ref="HTTP_Listener_config" path="/javastatic"/>
		<java:invoke-static method="sayHello(java.lang.String,java.lang.String)" doc:name="Invoke static" doc:id="46502581-d7cb-49fd-b8c9-6a5c70339146" class="com.cdi.StockQuoteService">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
	name: attributes.queryParams.name as String,
	city: attributes.queryParams.city as String
}]]]></java:args>
		</java:invoke-static>
	</flow>
	<flow name="non-static" doc:id="f9f18294-2460-40cf-a9dc-a6ea50165b74">
		<http:listener doc:name="Listener" doc:id="94b653e6-1f8c-4ad6-a642-1a054abc556d" config-ref="HTTP_Listener_config" path="/javanonstatic"/>
		<java:new doc:name="New" doc:id="63d83c8e-46b5-43c7-a18e-0b6e91736600" class="com.cdi.StockQuoteService" constructor="StockQuoteService()" target="value"/>
		<java:invoke doc:name="Invoke" doc:id="577a1d99-e63d-4273-ab41-eeb1b268f9a3" instance="#[vars.value]" class="com.cdi.StockQuoteService" method="getStockPrice(java.lang.String)">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
	stockSymbol: attributes.queryParams.stock as String
}]]]></java:args>
		</java:invoke>
	</flow>
</mule>
